---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">#{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <hr/>
      </li>
    {% endfor %}
  </ul>

</div>
